@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: #141414;
  --background-end-rgb: #020617;
}

body {
  background-color: #141414;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-header{
    @apply text-[32px] font-bold text-goldYellow text-left w-full
  }
}
